<!-- Default -->
<div class="courses-area border-bottom border-top bg-f3f3f3 pt-95">
    <div class="container">
        <div class="section-title position-relative">
            <h2 class="mb-0 fw-semibold text-uppercase">Our Courses</h2>
            <a routerLink="/courses" class="default-btn">
                Explore All Courses
            </a>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6" *ngFor="let course of data">
                <div class="single-course-box mb-25 position-relative">
                    <div class="col text-center mb-2">
                        <img
                            src="{{ image + course.image }}"
                            class="max-height"
                            alt="user-image"
                        />
                    </div>
                    <h3 class="fw-semibold">
                        <a routerLink="/course-details">
                            {{ course.title }}
                        </a>
                    </h3>
                    <p>
                        Category: {{ course.category }} <br />Tag:
                        {{ course.tag }}
                    </p>
                    <div class="instructor d-flex align-items-center">
                        <img
                            src="{{
                                imageInstructor + course.instructor_image
                            }}"
                            class="rounded-circle instructor"
                            alt="user-image"
                        />
                        <div>
                            <h4 class="fw-medium">
                                <p>{{ course.instructor }}</p>
                            </h4>
                            <span class="d-block"> Instructor </span>
                        </div>
                    </div>
                    <a routerLink="/course-details" class="default-btn">
                        Enroll Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
