<!-- Default -->
<div class="team-area mt-5 mb-5">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="fw-semibold mx-auto mb-0 text-uppercase">
                Meet the Passionate Team Driving Excellence at
            </h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6" *ngFor="let instructor of data">
                <div
                    class="single-team-member text-center mb-25 position-relative"
                >
                    <img src="{{image + instructor.image}}" alt="team-image" />
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/team-details"> {{instructor.name}} </a>
                        </h3>
                        <span class="d-block"> Instructor </span>
                        <!-- <ul class="socials p-0 mb-0 list-unstyled">
                            <li class="d-inline-block">
                                <a
                                    href="#"
                                    target="_blank"
                                    class="d-block rounded-circle"
                                >
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a
                                    href="#"
                                    target="_blank"
                                    class="d-block rounded-circle"
                                >
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            </li>
                            <li class="d-inline-block">
                                <a
                                    href="#"
                                    target="_blank"
                                    class="d-block rounded-circle"
                                >
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
