<div class="cta-area border-bottom border-top">
    <div class="container-fluid px-0">
        <div class="row mx-0">
            <div class="col-lg-6 col-md-12 px-0">
                <div class="cta-image"></div>
            </div>
            <div class="col-lg-6 col-md-12 px-0">
                <div class="cta-content">
                    <div class="content">
                        <h2 class="text-uppercase fw-semibold">
                            {{ 'UNLOCK_LANGUAGE_POTENTIAL' | translate }}
                        </h2>
                        <p>{{ 'CTA_DESCRIPTION' | translate }}</p>
                        <div class="btn-box">
                            <a routerLink="/courses" class="default-btn">
                                {{ 'ENROLL_NOW' | translate }}
                            </a>
                            <a routerLink="/contacts" class="default-btn">
                                {{ 'CONTACT_US' | translate }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>