<app-navbar />

<app-page-banner />

<div class="border-bottom"></div>

<!-- Contact Info -->

<!-- START ADDRESS -->
<section class="address_area section-padding">
    <div class="container">
        <div class="row text-center">
            <div
                class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="0.1s"
                data-wow-offset="0"
            >
                <div class="single_address">
                    <i class="fa-solid fa-location-dot"></i>
                    <h4>Our Location</h4>
                    <p>
                        3481 Melrose Place, Beverly Hills <br />
                        CA 90210
                    </p>
                </div>
            </div>
            <!-- END COL -->
            <div
                class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="0.2s"
                data-wow-offset="0"
            >
                <div class="single_address sabr">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    <h4>Telephone</h4>
                    <p>(+1) 517 397 7100</p>
                    <p>(+1) 411 315 8138</p>
                </div>
            </div>
            <!-- END COL -->
            <div
                class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="0.3s"
                data-wow-offset="0"
            >
                <div class="single_address">
                    <i class="fa-solid fa-envelope"></i>
                    <h4>Send email</h4>
                    <p>{{infoEmail}}</p>
                    <p>{{adminEmail}}</p>
                </div>
            </div>
            <!-- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<!-- END ADDRESS -->

<!-- End Contact Info -->

<app-contact />

<app-footer />

<app-back-to-top />
