<!-- Success Message as a Toast -->
<div
    *ngIf="successMessage"
    class="toast-container position-fixed top-0 end-0 p-3"
>
    <div
        class="toast show"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
    >
        <div class="toast-header">
            <strong class="me-auto text-success">Success</strong>
        </div>
        <div class="toast-body">
            <h6>
                {{ successMessage }}
            </h6>
        </div>
    </div>
</div>

<!-- Error Message as a Toast -->
<div
    *ngIf="errorMessage"
    class="toast-container position-fixed top-0 end-0 p-3"
>
    <div
        class="toast show"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
    >
        <div class="toast-header">
            <strong class="me-auto text-danger">Error</strong>
        </div>
        <div class="toast-body">
            <h6>
                {{ errorMessage }}
            </h6>
        </div>
    </div>
</div>
<!-- Default -->
<div class="contact-area bg-f3f3f3 border-top pb-5 pt-5">
    <div class="container">
        <div class="section-title text-center">
            <p>
                Get In <span><u>Touch</u></span>
            </p>
            <div class="">
                Your email address will not be published. Required field are
                marked*
            </div>
        </div>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="contact-form text-center mx-auto">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input
                                type="text"
                                placeholder="Full name *"
                                class="form-control"
                                formControlName="name"
                            />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <input
                                type="email"
                                placeholder="Email address *"
                                class="form-control"
                                formControlName="email"
                            />
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <input
                                type="text"
                                placeholder="Phone *"
                                class="form-control"
                                formControlName="phone"
                            />
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group">
                            <input
                                type="text"
                                placeholder="Title *"
                                class="form-control"
                                formControlName="title"
                            />
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group mb-0">
                            <textarea
                                class="form-control"
                                placeholder="Write your message *"
                                formControlName="message"
                            ></textarea>
                        </div>
                    </div>
                </div>
                <button class="default-btn" type="submit">Send Message</button>
            </div>
        </form>
    </div>
</div>
