.max-height {
    max-height: 100px;
}
.max-width {
    max-width: 70%;
}

.video-btn {
    width: 64px;
    height: 64px;
    background-color: #fbe8fe;
    border-radius: 50%;
}

.about-us-content {
    h2 {
        line-height: 1.25;
        margin-bottom: 28px;
    }
    p {
        margin-bottom: 28px;
    }
}
