<app-navbar />

<app-page-banner />

<!-- Shopping Cart -->
<div class="shopping-cart section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Shopping Summery -->
                <table class="table shopping-summery">
                    <thead>
                        <tr class="main-hading">
                            <th>PRODUCT</th>
                            <th>NAME</th>
                            <th class="text-center">UNIT PRICE</th>
                            <th class="text-center">
                                <i class="fa-regular fa-trash-can"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="image" data-title="No">
                                <img src="assets/riman-san/1.jpg" alt="#" />
                            </td>
                            <td class="product-des" data-title="Description">
                                <p class="product-name">
                                    <a href="#">Top Selling Book</a>
                                </p>
                            </td>
                            <td class="price" data-title="Price">
                                <span>$110.00 </span>
                            </td>

                            <td class="action" data-title="Remove">
                                <a href="#">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--/ End Shopping Summery -->
            </div>
        </div>
    </div>
</div>
<!--/ End Shopping Cart -->

<app-footer />

<app-back-to-top />
