<div class="blog-area pt-5 pb-5">
    <div class="container">
        <div class="section-title position-relative">
            <h2 class="mb-0 fw-semibold text-uppercase">Recent blog & news</h2>
            <a routerLink="/blog" class="default-btn"> Explore All Blog </a>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-6" *ngFor="let data of data">
                <div class="single-blog-post mb-25">
                    <a routerLink="/blog-details" class="image d-block">
                        <div class="text-center">
                            <img
                                src="{{ image + data.image }}"
                                alt="blog-image"
                                class="max-height"
                            />
                        </div>
                    </a>
                    <div class="content">
                        <div class="info position-relative">
                            <ul
                                class="d-flex align-items-center p-0 mb-0 list-unstyled"
                            >
                                <li
                                    class="d-inline-block position-relative"
                                    [title]="
                                        data.created_at
                                            | date : 'MMM d, yyyy, h:mm a'
                                    "
                                >
                                    {{ getRelativeTime(data.created_at) }}
                                </li>

                                <li class="d-inline-block position-relative">
                                    <i class="fa-regular fa-circle-user"></i> By
                                    <a routerLink="/blog"> {{ data.admin }} </a>
                                </li>
                                <li class="d-inline-block position-relative">
                                    <i class="fa-regular fa-comment-dots"></i>
                                    <a routerLink="/blog-details">
                                        Comments ({{
                                            data.postComments.length
                                        }})
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <h3 class="fw-semibold">
                            <a routerLink="/blog-details">
                                {{ data.title }}
                            </a>
                        </h3>
                        <div class="text-end">
                            <a routerLink="/blog-details" class="default-btn">
                                Continue Reading
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
