.image-container {
    position: relative;
    height: 70vh;
    width: 100%;
}
.new-class {
    padding: {
        // top: 110px;
        // bottom: 50px;
    }
}

.carousel-image {
    height: 70vh;
    width: 100%;
    object-fit: cover;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
    max-width: 600px;
}

.overlay-content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.overlay-content p {
    font-size: 1.2rem;
    line-height: 1.5;
}
