<!-- Default -->
<div
    class="feedback-area ptb-120 position-relative z-1"
    [ngClass]="{ 'd-none': router.url === '/index-3' }"
>
    <div class="feedback-slides mx-auto">
        <owl-carousel-o [options]="feedbackSlides">
            <ng-template carouselSlide>
                <div class="single-feedback-item text-center">
                    <div class="info">
                        <img
                            src="images/users/user4.jpg"
                            class="rounded-circle"
                            alt="user-image"
                        />
                        <h3 class="fw-semibold">Linda B. Ackerman</h3>
                    </div>
                    <p class="fw-medium">
                        "Learning at LOGO has been an enriching experience. The
                        instructors are not only skilled but incredibly
                        passionate about teaching. The immersive approach has
                        significantly boosted my confidence in speaking the
                        language."
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-feedback-item text-center">
                    <div class="info">
                        <img
                            src="images/users/user1.jpg"
                            class="rounded-circle"
                            alt="user-image"
                        />
                        <h3 class="fw-semibold">James T. Warner</h3>
                    </div>
                    <p class="fw-medium">
                        "Learning at LOGO has been an enriching experience. The
                        instructors are not only skilled but incredibly
                        passionate about teaching. The immersive approach has
                        significantly boosted my confidence in speaking the
                        language."
                    </p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="single-feedback-item text-center">
                    <div class="info">
                        <img
                            src="images/users/user2.jpg"
                            class="rounded-circle"
                            alt="user-image"
                        />
                        <h3 class="fw-semibold">Macky Q. Anderson</h3>
                    </div>
                    <p class="fw-medium">
                        "Learning at LOGO has been an enriching experience. The
                        instructors are not only skilled but incredibly
                        passionate about teaching. The immersive approach has
                        significantly boosted my confidence in speaking the
                        language."
                    </p>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
