<!-- Default -->
<div class="why-us-area">
    <div class="container-fluid px-0">
        <div class="row mx-0">
            <div class="col-lg-6 col-md-12 px-0">
                <div class="why-us-image">
                    <!-- <img src="images/riman-san/4.jpg" alt="why-us-image" /> -->
                </div>
            </div>
            <div class="col-lg-6 col-md-12 px-0">
                <div class="why-us-content">
                    <div class="content">
                        <h2 class="fw-semibold text-uppercase">
                            {{ "WHY_US_TITLE" | translate }}
                        </h2>
                        <ul class="features-list ps-0 mb-0 list-unstyled">
                            <li class="d-flex align-items-center">
                                <div
                                    class="icon d-flex align-items-center justify-content-center"
                                >
                                    <img
                                        src="assets/riman-san/expert.svg"
                                        alt="expert"
                                    />
                                </div>
                                <div>
                                    <h3 class="fw-semibold">
                                        {{ "EXPERT_FACULTY" | translate }}
                                    </h3>
                                    <p>
                                        {{ "EXPERT_FACULTY_DESC" | translate }}
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div
                                    class="icon d-flex align-items-center justify-content-center"
                                >
                                    <img
                                        src="assets/riman-san/small.svg"
                                        alt="small"
                                    />
                                </div>
                                <div>
                                    <h3 class="fw-semibold">
                                        {{ "SMALL_CLASS_SIZES" | translate }}
                                    </h3>
                                    <p>
                                        {{
                                            "SMALL_CLASS_SIZES_DESC" | translate
                                        }}
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div
                                    class="icon d-flex align-items-center justify-content-center"
                                >
                                    <img
                                        src="assets/riman-san/learning.svg"
                                        alt="learning"
                                    />
                                </div>
                                <div>
                                    <h3 class="fw-semibold">
                                        {{ "IMMERSIVE_LEARNING" | translate }}
                                    </h3>
                                    <p>
                                        {{
                                            "IMMERSIVE_LEARNING_DESC"
                                                | translate
                                        }}
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
