<div
    class="feedback-area mt-4 mb-4 position-relative z-1"
    [ngClass]="{ 'd-none': router.url === '/index-3' }"
>
    <div class="container">
        <div class="section-title text-center">
            <p>
                {{ "FEEDBACK_TITLE" | translate }}
            </p>
        </div>
        <div class="feedback-slides mx-auto">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide *ngFor="let slide of sliderData">
                    <div class="single-feedback-item text-center">
                        <div class="rating">
                            <span
                                *ngFor="
                                    let star of getStars(slide.rating);
                                    let i = index
                                "
                            >
                                <i
                                    class="fa-star"
                                    [ngClass]="star ? 'fas' : 'far'"
                                ></i>
                            </span>
                        </div>
                        <div class="info">
                            <img
                                src="{{ productImage + slide.product_image }}"
                                class="rounded-circle"
                                alt="user-image"
                            />
                            <h3 class="fw-semibold">
                                {{ slide.user || slide.client }}
                            </h3>
                            <span class="d-block">{{ slide.review }}</span>
                            <p
                                class="fw-medium"
                                [title]="
                                    slide.created_at
                                        | date : ('DATE_FORMAT' | translate)
                                "
                            >
                                {{ getRelativeTime(slide.created_at) }}
                            </p>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
