<app-navbar />

<app-page-banner />

<!-- START EVENT -->
<section class="our_event section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="single_event_single">
                    <img
                        alt=""
                        class="img-responsive"
                        src="assets/riman-san/1.jpg"
                    />
                    <div class="single_event_text_single">
                        <h4>
                            Architecture Design of International Art Fair 2023
                        </h4>
                    </div>
                    <div class="single_event_text_single_description">
                        <p>
                            It has survived not only five centuries, but also
                            the leap into electronic typesetting, remaining
                            essentially unchanged. It was popularised in the
                            1960s with the release of Letraset sheets containing
                            Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
                <!--- END SINGLE EVENT -->
            </div>

            <!--- END COL -->
        </div>
        <!-- END ROW -->
    </div>
    <!-- END CONTAINER -->
</section>
<!-- END EVENT -->
<app-footer />

<app-back-to-top />
