<!-- START SECTION TOP -->
<section class="section-top">
    <div class="container">
        <div class="text-center">
            <div
                class="section-top-title wow fadeInRight"
                data-wow-duration="1s"
                data-wow-delay="0.3s"
                data-wow-offset="0"
            >
                <h1>{{ 'GET_IN_TOUCH' | translate }}</h1>
                <ul>
                    <li><a routerLink="/">{{ 'HOME' | translate }}</a></li>
                    <li>/ {{ 'GET_IN_TOUCH' | translate }}</li>
                </ul>
            </div>
            <!-- //.HERO-TEXT -->
        </div>
        <!--- END COL -->
    </div>
    <!--- END CONTAINER -->
</section>
<!-- END SECTION TOP -->