<app-navbar />

<app-page-banner />

<!-- Success Message as a Toast -->
<div
    *ngIf="successMessage"
    class="toast-container position-fixed top-0 end-0 p-3"
>
    <div
        class="toast show"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
    >
        <div class="toast-header">
            <strong class="me-auto text-success">Success</strong>
        </div>
        <div class="toast-body">
            <h6>
                {{ successMessage }}
            </h6>
        </div>
    </div>
</div>

<!-- Error Message as a Toast -->
<div
    *ngIf="errorMessage"
    class="toast-container position-fixed top-0 end-0 p-3"
>
    <div
        class="toast show"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
    >
        <div class="toast-header">
            <strong class="me-auto text-danger">Error</strong>
        </div>
        <div class="toast-body">
            <h6>
                {{ errorMessage }}
            </h6>
        </div>
    </div>
</div>

<h1 class="container text-center">factory content</h1>

<app-footer />

<app-back-to-top />
