<app-navbar />

<app-page-banner />

<section class="blog_area_bg section-padding">
    <div class="container">
        <div class="row">
            <div
                class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp"
                *ngFor="let data of data"
                data-wow-duration="1s"
                data-wow-delay="0.1s"
                data-wow-offset="0"
            >
                <div class="single_blog">
                    <img
                        src="{{ image + data.image }}"
                        class="img-fluid max-height"
                        alt="image"
                    />
                    <div class="content_box">
                        <span
                            [title]="
                                data.created_at | date : 'MMM d, yyyy, h:mm a'
                            "
                        >
                            {{ getRelativeTime(data.created_at) }} |
                            <a> {{ data.title }}</a></span
                        >
                        <div>
                            <i class="fa-regular fa-circle-user"></i> By
                            {{ data.admin }}
                        </div>
                        <div>
                            <i class="fa-regular fa-comment-dots"></i>

                            Comments ({{ data.postComments.length }})
                        </div>
                        <div class="mt-3">
                            <a routerLink="/post/{{data.id}}" class="cta"
                                ><span>READ MORE</span>
                                <svg
                                    width="13px"
                                    height="10px"
                                    viewBox="0 0 13 10"
                                >
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END COL-->
        </div>
    </div>
</section>

<app-footer />

<app-back-to-top />
