<app-navbar />

<app-page-banner />

<!-- Start product Area -->
<section id="product_area" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Our Posts</h2>
                    <p>
                        Check Our <span><u>All Posts</u></span>
                    </p>
                </div>
            </div>
        </div>

        <!-- Success Message as a Toast -->
        <div
            *ngIf="successMessage"
            class="toast-container position-fixed top-0 end-0 p-3"
        >
            <div
                class="toast show"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
            >
                <div class="toast-header">
                    <strong class="me-auto text-success">Success</strong>
                </div>
                <div class="toast-body">
                    <h6>
                        {{ successMessage }}
                    </h6>
                </div>
            </div>
        </div>

        <!-- Error Message as a Toast -->
        <div
            *ngIf="errorMessage"
            class="toast-container position-fixed top-0 end-0 p-3"
        >
            <div
                class="toast show"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
            >
                <div class="toast-header">
                    <strong class="me-auto text-danger">Error</strong>
                </div>
                <div class="toast-body">
                    <h6>
                        {{ errorMessage }}
                    </h6>
                </div>
            </div>
        </div>

        <div class="text-center">
            <div class="">
                <div class="row">
                    <div
                        class="col-lg-3 col-md-4 col-sm-6 mix sale"
                        *ngFor="let product of data"
                    >
                        <div class="product-grid">
                            <div class="product-image">
                                <a routerLink="/product/{{ product.id }}">
                                    <img
                                        class="pic-1 imageClass"
                                        src="{{
                                            image +
                                                product.productImages[0].image
                                        }}"
                                        alt="product image"
                                    />
                                </a>
                                <ul class="social">
                                    <li>
                                        <a
                                            *ngIf="isLoggedIn"
                                            style="cursor: pointer"
                                            (click)="addToFavoutite(product.id)"
                                            data-tip="Add to Wishlist"
                                            ><i class="fa-regular fa-heart"></i
                                        ></a>
                                    </li>
                                    <li>
                                        <a
                                            style="cursor: pointer"
                                            (click)="addToCart(product.id)"
                                            data-tip="Add to Cart"
                                        >
                                            <i class="fa-solid fa-cart-plus"></i
                                        ></a>
                                    </li>
                                </ul>
                                <span
                                    class="product-new-label"
                                    *ngIf="product.discount"
                                >
                                    discount: {{ product.discount }} EGP
                                </span>
                            </div>
                            <!-- <ul class="rating">
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                    <li class="fa fa-star"></li>
                                </ul> -->
                            <div class="product-content">
                                <h3 class="title">
                                    <a routerLink="/product/{{ product.id }}">
                                        {{ product.title }}</a
                                    >
                                </h3>
                                <div class="price">
                                    {{ product.priceAfterDiscount }} EGP
                                    <span *ngIf="product.priceBeforeDiscount"
                                        >{{
                                            product.priceBeforeDiscount
                                        }}
                                        EGP</span
                                    >
                                </div>
                                <a
                                    class="add-to-cart"
                                    style="cursor: pointer"
                                    (click)="addToCart(product.id)"
                                    >+ Add To Cart</a
                                >
                            </div>
                        </div>
                    </div>
                    <!-- End Col -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End product Area -->

<app-footer />

<app-back-to-top />
