<div [dir]="translate.currentLang === 'ar' ? 'rtl' : 'ltr'">
    <app-navbar />

    <app-page-banner />

    <!-- Success Message as a Toast -->
    <div
        *ngIf="successMessage"
        class="toast-container position-fixed top-0"
        [class.start-0]="translate.currentLang === 'ar'"
        [class.end-0]="translate.currentLang !== 'ar'"
        p-3
    >
        <div
            class="toast show"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
        >
            <div class="toast-header">
                <strong
                    [class.ms-auto]="translate.currentLang === 'ar'"
                    [class.me-auto]="translate.currentLang !== 'ar'"
                    [class.text-success]="true"
                >
                    {{ "SUCCESS" | translate }}
                </strong>
            </div>
            <div class="toast-body">
                <h6>{{ successMessage }}</h6>
            </div>
        </div>
    </div>

    <!-- Error Message as a Toast -->
    <div
        *ngIf="errorMessage"
        class="toast-container position-fixed top-0"
        [class.start-0]="translate.currentLang === 'ar'"
        [class.end-0]="translate.currentLang !== 'ar'"
        p-3
    >
        <div
            class="toast show"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
        >
            <div class="toast-header">
                <strong
                    [class.ms-auto]="translate.currentLang === 'ar'"
                    [class.me-auto]="translate.currentLang !== 'ar'"
                    [class.text-danger]="true"
                >
                    {{ "ERROR" | translate }}
                </strong>
            </div>
            <div class="toast-body">
                <h6>{{ errorMessage }}</h6>
            </div>
        </div>
    </div>

    <!-- Send Verify Code -->
    <div class="login-area bg-fbfbfb pt-5 pb-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col">
                    <div class="login-content">
                        <h3 class="fw-medium">
                            {{ "SEND_VERIFY_CODE" | translate }}
                        </h3>

                        <form [formGroup]="verifyForm" (ngSubmit)="verify()">
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-control shadow-none"
                                    [placeholder]="'EMAIL' | translate"
                                    formControlName="email"
                                />
                            </div>

                            <button
                                type="submit"
                                class="default-btn d-block w-100"
                                [disabled]="verifyForm.invalid"
                            >
                                {{ "SUBMIT" | translate }}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Send Verify Code -->

    <app-footer />

    <app-back-to-top />
</div>
