<!-- START NAVBAR -->
<div id="navigation" class="fixed-top navbar-light bg-faded site-navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class=" navbar-brand">
                    <a routerLink="/">
                        <img src="assets/logo.svg" alt="" />
                    </a>
                </div>
                
            </div>
            <!--- END Col -->

            <div class="col-lg-6 col-md-9 col-sm-8">
                <div class="header_right">
                    <nav id="main-menu" class="ms-auto">
                        <ul>
                            <li>
                                <a class="nav-link" routerLink="index.html"
                                    >Home <span class="ti-angle-down"></span
                                ></a>
                                <ul>
                                    <li>
                                        <a class="nav-link" routerLink="index.html"
                                            >Home 01</a
                                        >
                                    </li>
                                    <li>
                                        <a class="nav-link" routerLink="index_2.html"
                                            >Home 02</a
                                        >
                                    </li>
                                    <li>
                                        <a class="nav-link" routerLink="index_3.html"
                                            >Home 03</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="#"
                                    >Pages <span class="ti-angle-down"></span
                                ></a>
                                <ul>
                                    <li>
                                        <a class="nav-link" routerLink="about.html"
                                            >About Us</a
                                        >
                                    </li>
                                    <li>
                                        <a class="nav-link" routerLink="team.html"
                                            >Instructor</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="nav-link"
                                            routerLink="team-details.html"
                                            >Instructor Details</a
                                        >
                                    </li>
                                    <li>
                                        <a class="nav-link" routerLink="faq.html"
                                            >FAQ's</a
                                        >
                                    </li>
                                    <li>
                                        <a class="nav-link" routerLink="event.html"
                                            >Event</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="nav-link"
                                            routerLink="event_single.html"
                                            >Event Single</a
                                        >
                                    </li>
                                    <li>
                                        <a class="nav-link" routerLink="error.html"
                                            >404 Page</a
                                        >
                                    </li>
                                    <li>
                                        <a class="nav-link" routerLink="login.html"
                                            >Login</a
                                        >
                                    </li>
                                    <li>
                                        <a class="nav-link" routerLink="register.html"
                                            >Register</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="course.html"
                                    >Courses <span class="ti-angle-down"></span
                                ></a>
                                <ul>
                                    <li>
                                        <a class="nav-link" routerLink="course.html"
                                            >Courses 01</a
                                        >
                                    </li>
                                    <li>
                                        <a class="nav-link" routerLink="course2.html"
                                            >Courses 02</a
                                        >
                                    </li>
                                    <li>
                                        <a class="nav-link" routerLink="course3.html"
                                            >Courses 03</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="nav-link"
                                            routerLink="course-sidebar.html"
                                            >Course Sidebar</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="nav-link"
                                            routerLink="single_course.html"
                                            >Course details</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="shop.html"
                                    >Shop <span class="ti-angle-down"></span
                                ></a>
                                <ul>
                                    <li>
                                        <a class="nav-link" routerLink="shop.html"
                                            >Shop</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="nav-link"
                                            routerLink="single_shop.html"
                                            >Single Shop</a
                                        >
                                    </li>
                                    <li>
                                        <a class="nav-link" routerLink="cart.html"
                                            >Cart Page</a
                                        >
                                    </li>
                                    <li>
                                        <a class="nav-link" routerLink="checkout.html"
                                            >Checkout page</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="blog.html"
                                    >Blog <span class="ti-angle-down"></span
                                ></a>
                                <ul>
                                    <li>
                                        <a class="nav-link" routerLink="blog.html"
                                            >Blog List</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="nav-link"
                                            routerLink="blog_single.html"
                                            >Single Blog</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="contact.html"
                                    >Contact</a
                                >
                            </li>
                        </ul>
                    </nav>
                    <div id="mobile_menu"></div>
                    
                </div>
            </div>
            <!--- END Col -->
            <div class="col-lg-4 col-md-3 col-sm-8">
                <div class="home_lc">
                    <a routerLink="#" class="hlc">
                        <i class="fa-regular fa-heart"></i>
                        <span class="gactive">0</span>
                    </a>
                    <a routerLink="#" class="hlc">
                        <i class="fa-solid fa-cart-plus"></i>
                        <span class="gactive">2</span>
                    </a>
                </div>
                <div class="call_to_action">
                    <a class="btn_one" routerLink="login.html">Login</a>
                    <a class="btn_two" routerLink="register.html">Sign Up</a>
                </div>
                <!--- END SOCIAL PROFILE -->
            </div>
            <!--- END Col -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</div>
<!-- END NAVBAR -->
