<!-- START LOGO WITH CONTACT -->
<section class="logo-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="single-top-contact">
                    <i class="fa fa-phone"></i>
                    <h4>+880 1934 781924</h4>
                </div>
            </div>
            <!--- END COL -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="single-top-contact">
                    <i class="fa fa-envelope"></i>
                    <h4>
                        <a routerLink="mailto:example@gmail.com"
                            >examplemail.com</a
                        >
                    </h4>
                </div>
            </div>
            <!--- END COL -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="single-top-contact">
                    <i class="fa-solid fa-clock"></i>
                    <h4>sat to thu Open: 9am - 6pm</h4>
                </div>
            </div>
            <!--- END COL -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="top_social_profile">
                    <ul>
                        <li>
                            <a routerLink="#" class="top_f_facebook"
                                ><i class="fa-brands fa-facebook"></i
                            ></a>
                        </li>
                        <li>
                            <a routerLink="#" class="top_f_facebook"
                                ><i class="fa-brands fa-facebook"></i
                            ></a>
                        </li>
                        <li>
                            <a routerLink="#" class="top_f_facebook"
                                ><i class="fa-brands fa-facebook"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<!-- END LOGO WITH CONTACT -->

<!-- START NAVBAR -->
<div id="navigation" class="navbar-light bg-faded site-navigation">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="navbar-brand">
                    <a routerLink="/"><img src="assets/logo.svg" alt="" /></a>
                </div>
            </div>
            <!--- END Col -->

            <div class="col-lg-6 col-md-9 col-sm-8">
                <div class="header_right">
                    <nav id="main-menu" class="ms-auto">
                        <ul>
                            <li>
                                <a class="nav-link" routerLink="/"
                                    >Home <span class="ti-angle-down"></span
                                ></a>
                            </li>

                            <li>
                                <a class="nav-link" routerLink="/about"
                                    >About Us</a
                                >
                            </li>
                            <li>
                                <a class="nav-link" routerLink="/instructors"
                                    >Instructor</a
                                >
                            </li>
                            <li>
                                <a class="nav-link" routerLink="/faqs">FAQ's</a>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="/events"
                                    >Event</a
                                >
                            </li>
                            <li>
                                <a class="nav-link" routerLink="/courses"
                                    >Courses <span class="ti-angle-down"></span
                                ></a>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="/products"
                                    >Shop <span class="ti-angle-down"></span
                                ></a>
                                <ul>
                                    <li>
                                        <a class="nav-link" routerLink="/cart"
                                            >Cart Page</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="nav-link"
                                            routerLink="/checkout"
                                            >Checkout page</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="/posts"
                                    >Blog <span class="ti-angle-down"></span
                                ></a>
                            </li>
                            <li>
                                <a class="nav-link" routerLink="/contacts"
                                    >Contact</a
                                >
                            </li>
                        </ul>
                    </nav>
                    <div id="mobile_menu"></div>
                </div>
            </div>
            <!--- END Col -->
            <div class="col-lg-4 col-md-3 col-sm-8">
                <div class="call_to_action">
                    <a class="btn_one" routerLink="/login">login</a>
                    <a class="btn_two" routerLink="/register">sign up</a>
                </div>
                <!--- END SOCIAL PROFILE -->
            </div>
            <!--- END Col -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</div>
<!-- END NAVBAR -->
