<!-- START LOGO WITH CONTACT -->
<section class="logo-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="single-top-contact">
                    <i class="fa fa-phone"></i>
                    <h4>+880 1934 781924</h4>
                </div>
            </div>
            <!--- END COL -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="single-top-contact">
                    <i class="fa fa-envelope"></i>
                    <h4>
                        <a routerLink="mailto:example@gmail.com"
                            >examplemail.com</a
                        >
                    </h4>
                </div>
            </div>
            <!--- END COL -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="single-top-contact">
                    <i class="fa-solid fa-clock"></i>
                    <h4>sat to thu Open: 9am - 6pm</h4>
                </div>
            </div>
            <!--- END COL -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div class="top_social_profile">
                    <ul>
                        <li>
                            <a routerLink="#" class="top_f_facebook"
                                ><i class="fa-brands fa-facebook"></i
                            ></a>
                        </li>
                        <li>
                            <a routerLink="#" class="top_f_facebook"
                                ><i class="fa-brands fa-facebook"></i
                            ></a>
                        </li>
                        <li>
                            <a routerLink="#" class="top_f_facebook"
                                ><i class="fa-brands fa-facebook"></i
                            ></a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<!-- END LOGO WITH CONTACT -->

<!-- START NAVBAR -->
<nav
    class="navbar navbar-expand-lg navbar-light bg-light site-navigation d-flex align-items-center"
>
    <div class="container d-flex align-items-center justify-content-between">
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
            <img src="/assets/riman-san/logo.svg" alt="Logo" class="logo" />
        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div
            class="collapse navbar-collapse justify-content-center"
            id="navbarSupportedContent"
        >
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/instructors">Instructor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/faqs">FAQ's</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/events">Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/courses">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/products">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/posts">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contacts">Contact</a>
                </li>
            </ul>
        </div>

        <div class="d-flex align-items-center home_lc">
            <a *ngIf="isLoggedIn" routerLink="/cart" class="hlc">
                <i class="fa-solid fa-cart-plus"></i>
                <span class="gactive">{{ data ? data.length : 0 }}</span>
            </a>
            <a *ngIf="!isLoggedIn" routerLink="/cart" class="hlc">
                <i class="fa-solid fa-cart-plus"></i>
                <span class="gactive">5</span>
            </a>
            <a *ngIf="isLoggedIn" routerLink="/wishlist" class="hlc">
                <i class="fa-regular fa-heart"></i>
                <span class="gactive">0</span>
            </a>

            <a *ngIf="!isLoggedIn" class="btn_one" routerLink="/login">Login</a>
            <a *ngIf="!isLoggedIn" class="btn_two" routerLink="/register"
                >Sign Up</a
            >
            <a *ngIf="isLoggedIn" class="btn_one" routerLink="/profile"
                >Profile</a
            >
            <a
                *ngIf="isLoggedIn"
                class="btn_two"
                style="cursor: pointer"
                (click)="logout()"
                >Logout</a
            >
        </div>
    </div>
</nav>
