<div class="row justify-content-center">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div
            ngbAccordion
            #acc="ngbAccordion"
            [closeOthers]="true"
            id="accordionExample"
        >
            <div ngbAccordionItem *ngFor="let faqs of data">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>
                        {{ faqs.question }}
                    </button>
                </h2>
                <div ngbAccordionCollapse>
                    <div class="accordion-body">
                        {{ faqs.answer }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END COL  -->
</div>
