<app-navbar />

<app-page-banner />

<!-- Success Message as a Toast -->
<div
    *ngIf="successMessage"
    class="toast-container position-fixed top-0 end-0 p-3"
>
    <div
        class="toast show"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
    >
        <div class="toast-header">
            <strong class="me-auto text-success">Success</strong>
        </div>
        <div class="toast-body">
            <h6>
                {{ successMessage }}
            </h6>
        </div>
    </div>
</div>

<!-- Error Message as a Toast -->
<div
    *ngIf="errorMessage"
    class="toast-container position-fixed top-0 end-0 p-3"
>
    <div
        class="toast show"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
    >
        <div class="toast-header">
            <strong class="me-auto text-danger">Error</strong>
        </div>
        <div class="toast-body">
            <h6>
                {{ errorMessage }}
            </h6>
        </div>
    </div>
</div>

<!-- Register -->
<div class="register-area bg-fbfbfb pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 order-2 order-lg-1">
                <div class="register-image text-center">
                    <img src="assets/riman-san/1.jpg" alt="login-image" />
                </div>
            </div>
            <div class="col-lg-6 col-md-12 order-1 order-lg-2">
                <div class="register-content">
                    <ul class="links p-0 list-unstyled">
                        <li class="d-inline-block">
                            <a
                                routerLink="/login"
                                class="d-block position-relative"
                            >
                                Log in
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a
                                routerLink="/register"
                                class="d-block position-relative active"
                            >
                                Register
                            </a>
                        </li>
                    </ul>
                    <h3 class="fw-medium">Create account</h3>

                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control shadow-none"
                                placeholder="Name"
                                formControlName="name"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control shadow-none"
                                placeholder="Email"
                                formControlName="email"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control shadow-none"
                                placeholder="Phone"
                                formControlName="phone"
                            />
                        </div>
                        <div class="form-group">
                            <input
                                type="file"
                                class="form-control shadow-none"
                                (change)="onFileSelected($event)"
                            />
                        </div>
                        <div class="form-group position-relative">
                            <input
                                [type]="passwordVisible ? 'text' : 'password'"
                                id="passwordInput"
                                class="form-control shadow-none"
                                placeholder="Password"
                                formControlName="password"
                            />
                            <button
                                type="button"
                                class="p-0 bg-transparent border-0 position-absolute end-0 me-2"
                                (click)="togglePasswordVisibility()"
                            >
                                <i
                                    [ngClass]="
                                        passwordVisible
                                            ? 'fa-regular fa-eye'
                                            : 'fa-regular fa-eye-slash'
                                    "
                                ></i>
                            </button>
                        </div>
                        <div class="form-group position-relative">
                            <input
                                [type]="
                                    passwordConfirmationVisible
                                        ? 'text'
                                        : 'password'
                                "
                                id="passwordInput"
                                class="form-control shadow-none"
                                placeholder="Confirm Password"
                                formControlName="password_confirmation"
                            />
                            <button
                                type="button"
                                class="p-0 bg-transparent border-0 position-absolute end-0 me-2"
                                (click)="togglePasswordConfirmationVisibility()"
                            >
                                <i
                                    [ngClass]="
                                        passwordConfirmationVisible
                                            ? 'fa-regular fa-eye'
                                            : 'fa-regular fa-eye-slash'
                                    "
                                ></i>
                            </button>
                        </div>
                        <a routerLink="/login" class="forgot-password">
                            Do You Have Account?
                        </a>
                        <button type="submit" class="default-btn d-block w-100">
                            Register
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Register -->

<app-footer />

<app-back-to-top />
