<app-navbar />

<app-page-banner />

<!-- START TOP PROMO FEATURES -->
<section class="tp_feature">
    <div class="container-fluid">
        <div class="row">
            <div
                class="col-lg-4 col-sm-4 col-xs-12 no-padding wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="0.2s"
                data-wow-offset="0"
            >
                <div class="single_tp">
                    <h3>Quality Education</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur notted
                        adipisicing elit sed do eiusmod tempor incididunt ut
                        labore.
                    </p>
                </div>
            </div>
            <!-- END COL -->
            <div
                class="col-lg-4 col-sm-4 col-xs-12 no-padding wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="0.3s"
                data-wow-offset="0"
            >
                <div class="single_tp">
                    <h3>Experienced Teachers</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur notted
                        adipisicing elit sed do eiusmod tempor incididunt ut
                        labore.
                    </p>
                </div>
            </div>
            <!-- END COL -->
            <div
                class="col-lg-4 col-sm-4 col-xs-12 no-padding wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="0.4s"
                data-wow-offset="0"
            >
                <div class="single_tp">
                    <h3>Life Time Support</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur notted
                        adipisicing elit sed do eiusmod tempor incididunt ut
                        labore.
                    </p>
                </div>
            </div>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </div>
    <!-- END CONTAINER -->
</section>
<!-- END TOP PROMO FEATURES -->

<!-- START ABOUT US HOME ONE -->
<section class="ab_one section-padding">
    <div class="container">
        <div class="row">
            <div
                class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="0.2s"
                data-wow-offset="0"
            >
                <div class="ab_img">
                    <img
                        src="assets/riman-san/1.jpg"
                        class="img-fluid"
                        alt="image"
                    />
                </div>
            </div>
            <!--- END COL -->
            <div
                class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="0.1s"
                data-wow-offset="0"
            >
                <div class="ab_content">
                    <h2>
                        Learn new skills to go
                        <u><span>ahead for your </span></u> career.
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur notted
                        adipisicing elit sed do eiusmod tempor incididunt ut
                        labore et simply. From blogs to emails to ad copies,
                        auto-generate catchy, original, and high-converting
                        copies in popular tones languages.From blogs to emails
                        to ad copies, auto-generate catchy, original and
                        high-converting copies.
                    </p>
                    <p>
                        <strong
                            >Auto-generate catchy original and high-converting
                            copies in popular tones languages. From blogs to
                            emails to ad copies auto-generate catchy</strong
                        >
                    </p>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<!-- END ABOUT US HOME ONE -->

<!-- START WHY CHOOSE US-->
<section class="marketing_content_area section-padding">
    <div class="container">
        <div class="section-title">
            <h2>Why Choose Penn</h2>
            <p>
                Find the <span><u>best features</u></span> of Penn.
            </p>
        </div>
        <div class="row">
            <div
                class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="0.1s"
                data-wow-offset="0"
            >
                <div class="single_feature_one">
                    <div class="sf_top">
                        <span class="ti-book ss_one"
                            ><i class="fa-solid fa-book-open"></i
                        ></span>

                        <h2>
                            <a target="_blank">Learn More Anywhere</a>
                        </h2>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                        sed do eiusmod tempor ut labore.
                    </p>
                </div>
            </div>
            <!-- END COL -->
            <div
                class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="0.2s"
                data-wow-offset="0"
            >
                <div class="single_feature_one">
                    <div class="sf_top">
                        <span class="ti-heart ss_two"
                            ><i class="fa-regular fa-heart"></i
                        ></span>
                        <h2>
                            <a target="_blank">Expert <br />Instructor</a>
                        </h2>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                        sed do eiusmod tempor ut labore.
                    </p>
                </div>
            </div>
            <!-- END COL -->
            <div
                class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="0.3s"
                data-wow-offset="0"
            >
                <div class="single_feature_one">
                    <div class="sf_top">
                        <span class="ti-user ss_three"
                            ><i class="fa-solid fa-users"></i
                        ></span>
                        <h2>
                            <a target="_blank">Team <br />Management</a>
                        </h2>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                        sed do eiusmod tempor ut labore.
                    </p>
                </div>
            </div>
            <!-- END COL -->
            <div
                class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="0.4s"
                data-wow-offset="0"
            >
                <div class="single_feature_one">
                    <div class="sf_top">
                        <span class="ti-eye ss_four"
                            ><i class="fa-solid fa-eye"></i
                        ></span>
                        <h2>
                            <a target="_blank"
                                >Course <br />
                                Planing</a
                            >
                        </h2>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                        sed do eiusmod tempor ut labore.
                    </p>
                </div>
            </div>
            <!-- END COL -->
            <div
                class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="0.5s"
                data-wow-offset="0"
            >
                <div class="single_feature_one">
                    <div class="sf_top">
                        <span class="ti-light-bulb ss_five"
                            ><i class="fa-regular fa-lightbulb"></i
                        ></span>
                        <h2>
                            <a target="_blank">Teacher Monitoring</a>
                        </h2>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                        sed do eiusmod tempor ut labore.
                    </p>
                </div>
            </div>
            <!-- END COL -->
            <div
                class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="0.6s"
                data-wow-offset="0"
            >
                <div class="single_feature_one">
                    <div class="sf_top">
                        <span class="ti-email ss_six"
                            ><i class="fa-regular fa-envelope"></i
                        ></span>
                        <h2>
                            <a target="_blank">24/7 Strong Support</a>
                        </h2>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                        sed do eiusmod tempor ut labore.
                    </p>
                </div>
            </div>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </div>
    <!-- END CONTAINER -->
</section>
<!-- END WHY CHOOSE US -->

<!-- START TEAM-->
<section class="team_member section-padding">
    <div class="container">
        <div class="section-title">
            <h2>Team Member</h2>
            <p>
                Our Expert <span><u>Instructors</u></span>
            </p>
        </div>
       
        
        <app-team />


        <!-- END ROW -->
    </div>
    <!-- END CONTAINER -->
</section>
<!-- END TEAM -->

<!-- START FAQ -->
<section class="faq_area section-padding">
    <div class="container">
        <div class="section-title">
            <h2>Frequently Asked Question</h2>
            <p>
                General <span><u>Questions</u></span>
            </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button
                                class="accordion-button"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne"
                            >
                                What does it take excellent author?
                            </button>
                        </h2>
                        <div
                            id="collapseOne"
                            class="accordion-collapse collapse show"
                            aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample"
                        >
                            <div class="accordion-body">
                                Great value and so easy to use and saves me so
                                much time! I was shocked by how much time and
                                brain energy it saved me. Simple & easy gotta
                                love that. Great value and so easy to use.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END COL  -->
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="pt_faq">
                    <img
                        src="assets/riman-san/1.jpg"
                        class="img-fluid"
                        alt="image"
                    />
                </div>
            </div>
            <!-- END COL  -->
        </div>
        <!--END  ROW  -->
    </div>
    <!--- END CONTAINER -->
</section>
<!-- END FAQ -->

<!-- START COMPANY PARTNER LOGO  -->
<div class="partner-logo section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="partner_title">
                    <h3>Trusted Company Arround The World!</h3>
                </div>
                <div class="partner">
                    <a href="#"
                        ><img
                            src="assets/images/all-img/clients/1.png"
                            alt="image"
                    /></a>
                    <a href="#"
                        ><img
                            src="assets/images/all-img/clients/2.png"
                            alt="image"
                    /></a>
                    <a href="#"
                        ><img
                            src="assets/images/all-img/clients/3.png"
                            alt="image"
                    /></a>
                    <a href="#"
                        ><img
                            src="assets/images/all-img/clients/4.png"
                            alt="image"
                    /></a>
                    <a href="#"
                        ><img
                            src="assets/images/all-img/clients/5.png"
                            alt="image"
                    /></a>
                    <a href="#"
                        ><img
                            src="assets/images/all-img/clients/2.png"
                            alt="image"
                    /></a>
                    <a href="#"
                        ><img
                            src="assets/images/all-img/clients/1.png"
                            alt="image"
                    /></a>
                    <a href="#"
                        ><img
                            src="assets/images/all-img/clients/3.png"
                            alt="image"
                    /></a>
                    <a href="#"
                        ><img
                            src="assets/images/all-img/clients/4.png"
                            alt="image"
                    /></a>
                </div>
            </div>
            <!-- END COL  -->
        </div>
        <!--END  ROW  -->
    </div>
    <!-- END CONTAINER  -->
</div>
<!-- END COMPANY PARTNER LOGO -->

<app-footer />

<app-back-to-top />



<app-team />