<app-navbar />

<app-page-banner />

<!-- START AGENT PROFILE -->
<section class="template_agent section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="single_agent">
                    <div class="single_agent_image">
                        <img
                            src="{{ image + details?.image }}"
                            class="img-fluid"
                            alt=""
                        />
                    </div>
                    <div class="single_agent_content">
                        <h4>{{ details?.name }}</h4>
                        <h5>{{ details?.job_title }}</h5>
                        <p>
                            {{ details?.description }}
                        </p>
                        <ul>
                            <li>
                                <i class="fa-regular fa-envelope"></i>
                                {{ details?.email }}
                            </li>
                            <li>
                                <i class="fa-solid fa-phone"></i>
                                {{ details?.phone }}
                            </li>
                        </ul>
                    </div>
                </div>
                <!--- END SINGLE ITEM -->
            </div>
            <!--- END COL -->
        </div>
        <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
</section>
<!-- END AGENT PROFILE -->

<!--START COURSE -->
<div class="best-cpurse section-padding">
    <div class="container">
        <div class="section-title">
            <h2>Popular Courses</h2>
            <p>
                Choose Our <span><u>Top Courses</u></span>
            </p>
        </div>
        <div class="row">
            <div
                class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="0.1s"
                data-wow-offset="0"
                *ngFor="let course of details?.courses"
            >
                <div class="course-slide">
                    <div class="video-box position-relative">
                        <div class="content">
                            <button
                                type="button"
                                (click)="openPopup(course?.video_url)"
                                class="video-btn"
                            >
                                <img
                                    src="assets/riman-san/play.svg"
                                    alt="play"
                                    class="img-fluid"
                                />
                            </button>
                        </div>
                    </div>

                    <!-- Video Popup -->
                    <div class="mfp-bg mfp-fade mfp-ready" *ngIf="isOpen"></div>
                    <div
                        class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-fade mfp-ready"
                        *ngIf="isOpen"
                        tabindex="-1"
                    >
                        <div class="mfp-container mfp-iframe-holder">
                            <div class="mfp-content">
                                <div class="mfp-iframe-scaler">
                                    <button
                                        (click)="closePopup()"
                                        title="Close (Esc)"
                                        type="button"
                                        class="mfp-close"
                                    >
                                        Close
                                    </button>
                                    <iframe
                                        *ngIf="isOpen && videoUrlSafe"
                                        [src]="videoUrlSafe"
                                        width="560"
                                        height="315"
                                        frameborder="0"
                                        allowfullscreen
                                    ></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="course-img">
                        <a routerLink="/course/{{ course.id }}">
                            <img
                                src="{{ courseImage + course?.image }}"
                                class="max-height img-fluid"
                                alt=""
                                style="min-height: 350px"
                            />
                        </a>
                        <div class="course-date">
                            <span class="month"
                                ><i class="fas fa-money-bill"></i>
                                {{ course?.price }} EGP</span
                            >
                        </div>
                    </div>
                    <div class="course-content">
                        <p class="c_btn m-1">{{ course?.category }}</p>
                        <p class="c_btn m-1">{{ course?.tag }}</p>
                        <h3>
                            <a routerLink="/course/{{ course.id }}">{{
                                course?.title
                            }}</a>
                        </h3>
                        <p class="">
                            {{ course?.description | truncateDescription : 5 }}
                        </p>
                    </div>
                </div>
            </div>

            <!--END COL -->
            <div class="col-lg-12 text-center">
                <div class="cc_btn">
                    <a class="btn_one" routerLink="/courses">View All Course</a>
                </div>
            </div>
            <!--END COL -->
        </div>
        <!--END ROW -->
    </div>
    <!--END CONTAINER -->
</div>
<!--END COURSE -->
<app-footer />

<app-back-to-top />
