<div class="upcoming-courses-area border-top border-bottom bg-f3f3f3 pt-5 pb-5">
    <div class="container">
        <div class="section-title position-relative">
            <div class="section-title">
                <h2>Our Courses</h2>
                <p>
                    Choose Our <span><u>events</u></span>
                </p>
            </div>

            <a routerLink="/events" class="default-btn"> Explore All Events </a>
        </div>
        <div class="upcoming-courses-slides mx-auto">
            <owl-carousel-o [options]="upcomingEventsSlides">
                <ng-template carouselSlide *ngFor="let slide of sliderData">
                    <a routerLink="/event/{{ slide.id }}">
                        <div class="event-slide">
                            <div class="event-img">
                                <img
                                    src="{{ image + slide.image }}"
                                    class="bg-image max-height max-height"
                                    alt="bg-image"
                                />
                            </div>
                            <div class="event-content">
                                <h3>
                                    {{ slide.title }}
                                </h3>
                            </div>
                        </div>
                    </a>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
