<app-navbar />

<app-page-banner />

<!-- START EVENT -->
<section class="our-event section-padding">
    <div class="container">
        <div class="section-title">
            <h2>Upcoming Events</h2>
            <p>
                Join With Us <span><u>Our Events</u></span>
            </p>
        </div>
        <div class="row">
           <app-events />
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </div>
    <!-- END CONTAINER -->
</section>
<!-- END EVENT -->

<app-footer />

<app-back-to-top />
