<app-navbar />

<app-page-banner />

<!-- START EVENT -->
<section class="our-event section-padding">
    <div class="container">
        <div class="section-title">
            <h2>Upcoming Events</h2>
            <p>
                Join With Us <span><u>Our Events</u></span>
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="event-slide">
                    <div class="event-img">
                        <img src="assets/riman-san/1.jpg" alt="" />
                    </div>
                    <div class="event-content">
                        <h3>
                            <a routerLink="event"
                                >Electrical Engineering of Batparder new
                                event</a
                            >
                        </h3>
                    </div>
                </div>
                <!-- END EVENT -->
            </div>
            <!-- END COL -->
        </div>
        <!-- END ROW -->
    </div>
    <!-- END CONTAINER -->
</section>
<!-- END EVENT -->

<app-footer />

<app-back-to-top />
