<!-- Default -->
<footer class="footer-area bg-light pt-5 border-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-6">
                <div class="single-footer-widget mb-25">
                    <a routerLink="/" class="">
                        <img
                            src="/assets/riman-san/logo.svg"
                            alt="logo"
                            class="logo"
                        />
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-footer-widget mb-25">
                    <h3 class="fw-medium">About Us</h3>
                    <ul class="custom-links p-0 mb-0 list-unstyled">
                        <li>
                            <a routerLink="/contacts"> Contact </a>
                        </li>
                        <li>
                            <a routerLink="/contacts"> Support </a>
                        </li>
                        <li>
                            <a routerLink="/posts"> Resources </a>
                        </li>
                        <li>
                            <a routerLink="/privacy-policy"> Help Center </a>
                        </li>
                        <li>
                            <a routerLink="/posts"> Blog </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-footer-widget mb-25">
                    <h3 class="fw-medium">Courses</h3>
                    <ul class="custom-links p-0 mb-0 list-unstyled">
                        <li>
                            <a routerLink="/course-details">
                                Language Learning
                            </a>
                        </li>
                        <li>
                            <a routerLink="#"> Testimonials </a>
                        </li>
                        <li>
                            <a routerLink="/events"> Events </a>
                        </li>
                        <li>
                            <a routerLink=""> Partners </a>
                        </li>
                        <li>
                            <a routerLink=""> Careers </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-footer-widget mb-25">
                    <h3 class="fw-medium">Terms</h3>
                    <ul class="custom-links p-0 mb-0 list-unstyled">
                        <li>
                            <a routerLink="/privacy-policy"> Privacy </a>
                        </li>
                        <li>
                            <a routerLink="/privacy-policy"> Cookies </a>
                        </li>
                        <li>
                            <a routerLink="/terms-conditions"> Sitemap </a>
                        </li>
                        <li>
                            <a routerLink="/terms-conditions">
                                Accessibility
                            </a>
                        </li>
                        <li>
                            <a routerLink="/terms-conditions">
                                Terms of Service
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright-area border-top">
            <div class="row align-items-center">
                <div class="col-lg-3 col-sm-6">
                    <p class="mb-0">© 2024 Riman-San. All rights reserved.</p>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <ul class="custom-links mb-0 list-unstyled">
                        <li class="d-inline-block">
                            <a routerLink="/privacy-policy"> Privacy Policy </a>
                        </li>
                        <li class="d-inline-block">
                            <a routerLink="/terms-conditions">
                                Terms of Service
                            </a>
                        </li>
                        <li class="d-inline-block">
                            <a routerLink="/privacy-policy">
                                Cookies Settings
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="socials">
                        <a
                            routerLink="#"
                            class="d-inline-block position-relative rounded-circle text-center"
                        >
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                        <a
                            routerLink="#"
                            class="d-inline-block position-relative rounded-circle text-center"
                        >
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a
                            routerLink="#"
                            class="d-inline-block position-relative rounded-circle text-center"
                        >
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                        <a
                            routerLink="#"
                            class="d-inline-block position-relative rounded-circle text-center"
                        >
                            <i class="fa-brands fa-google"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
