<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12" *ngFor="let event of data">
        <div class="event-slide">
            <div class="event-img">
                <img src="{{ image + event.eventImages[0]?.image }}" alt="" />
            </div>
            <div class="event-content">
                <h3>
                    <a routerLink="/event/{{ event.id }}">{{ event.title }}</a>
                </h3>
            </div>
        </div>
        <!-- END EVENT -->
    </div>
    <!-- END COL -->
</div>
