<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12" *ngFor="let event of data">
        <a routerLink="/event/{{ event.id }}">
            <div class="event-slide">
                <div class="event-img">
                    <img
                        src="{{ image + event?.image }}"
                        alt=""
                        class="max-height"
                    />
                </div>
                <div class="event-content">
                    <h3>
                        {{ event?.title }}
                    </h3>
                </div>
            </div>
        </a>
        <!-- END EVENT -->
    </div>
    <!-- END COL -->
</div>
