<app-navbar />

<app-page-banner />

<div class="pb-120 border-bottom"></div>

<!-- Team -->
<div class="team-area bg-f3f3f3 pt-120 pb-95 border-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6" *ngFor="let instructor of data">
                <div
                    class="single-team-member text-center mb-25 position-relative"
                >
                    <img
                        src="{{ image + instructor.image }}"
                        alt="team-image"
                    />
                    <div class="content">
                        <h3 class="fw-semibold">
                            <a routerLink="/team-details">
                                {{ instructor.name }}
                            </a>
                        </h3>
                        <span class="d-block"> Instructor </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Team -->

<div class="pb-120 pt-40 text-center">
    <div class="container">
        <a routerLink="/contact" class="default-btn"> Join With Us </a>
    </div>
</div>

<app-footer />

<app-back-to-top />
