<app-navbar />

<app-page-banner />

<!-- START TEAM-->
<section class="team_member section-padding">
    <div class="container">
        <div class="section-title">
            <h2>Our Instructor</h2>
            <p>
                Our Expert <span><u>Instructors</u></span>
            </p>
        </div>
        <div class="row text-center">
            <div
                class="col-md-3 col-sm-6 col-xs-12 wow fadeInUp"
                data-wow-duration="1s"
                data-wow-delay="0.1s"
                data-wow-offset="0"
            >
                <div class="our-team">
                    <div class="team_img">
                        <img src="assets/riman-san/1.jpg" alt="team-image" />
                        <ul class="social">
                            <li>
                                <a href="#"
                                    ><i class="fa-regular fa-envelope"></i
                                ></a>
                            </li>
                            <li>
                                <a href="#"
                                    ><i class="fa-solid fa-phone"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">Stephen Cronin</h3>
                        <span class="post">Designer</span>
                        <div class="sth_det2">
                            <span class="ti-file"> <u>5 Course</u></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--- END COL -->
        </div>
        <!-- END ROW -->
    </div>
    <!-- END CONTAINER -->
</section>
<!-- END TEAM -->

<app-footer />

<app-back-to-top />
